Facturacion.Test/Connected Services/ServiceInvoice/ServiceFacturacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Facturacion.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Facturacion.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTODocumentoEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:DTOClienteEntrada" />
      <xs:element minOccurs="0" name="ConceptoNotaCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConceptoNotaDebito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasVence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoFacturaReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Impuestos" nillable="true" type="tns:ArrayOfDTOImpuestosEntrada" />
      <xs:element minOccurs="0" name="MedioPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorInteresMora" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Prefijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencias" nillable="true" type="tns:ArrayOfDTOReferenciasEntrada" />
      <xs:element minOccurs="0" name="Resolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VlrDescuento" type="xs:double" />
      <xs:element minOccurs="0" name="VlrImpuestos" type="xs:double" />
      <xs:element minOccurs="0" name="VlrNeto" type="xs:double" />
      <xs:element minOccurs="0" name="VlrSubtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTODocumentoEntrada" nillable="true" type="tns:DTODocumentoEntrada" />
  <xs:complexType name="DTOClienteEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObligadoFacturarElectro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRegimen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOClienteEntrada" nillable="true" type="tns:DTOClienteEntrada" />
  <xs:complexType name="ArrayOfDTOImpuestosEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOImpuestosEntrada" nillable="true" type="tns:DTOImpuestosEntrada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOImpuestosEntrada" nillable="true" type="tns:ArrayOfDTOImpuestosEntrada" />
  <xs:complexType name="DTOImpuestosEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="PorTarifa" type="xs:double" />
      <xs:element minOccurs="0" name="TipoImpuesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VlrBase" type="xs:double" />
      <xs:element minOccurs="0" name="VlrImpuesto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOImpuestosEntrada" nillable="true" type="tns:DTOImpuestosEntrada" />
  <xs:complexType name="ArrayOfDTOReferenciasEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOReferenciasEntrada" nillable="true" type="tns:DTOReferenciasEntrada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOReferenciasEntrada" nillable="true" type="tns:ArrayOfDTOReferenciasEntrada" />
  <xs:complexType name="DTOReferenciasEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador" type="xs:int" />
      <xs:element minOccurs="0" name="PorDescuento" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="VlrDescuento" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="VlrTotal" type="xs:double" />
      <xs:element minOccurs="0" name="VlrUnitario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOReferenciasEntrada" nillable="true" type="tns:DTOReferenciasEntrada" />
  <xs:complexType name="DTODocumentoSalida">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatosQR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="Nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTODocumentoSalida" nillable="true" type="tns:DTODocumentoSalida" />
</xs:schema>